# Node environment
NODE_ENV=xxx

# Database
DATABASE_URL=xxx
DATABASE_URL_VERCEL=xx

# Payload CMS
PAYLOAD_SECRET=xxx

# Public URLs (exposed to browser)
SERVER_URL=xxx
NEXT_PUBLIC_PAYLOAD_URL=xxx

# Email Configuration (Nodemailer)
SMTP_HOST=xxx
SMTP_USER=xxx
SMTP_PASS=xxx
CONTACT_FORM_RECIPIENT=xxx
CONTACT_FORM_SEND_CONFIRMATION=xxx
NEWSLETTER_SEND_CONFIRMATION=xxx
NEWSLETTER_SEND_WELCOME_BACK=xxx

# CLoudinary-video-url
NEXT_PUBLIC_HOME_VIDEO_URL=xxx