@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #0b7a43;
  --color-primary-dark: #064f31;

  --color-secondary: #145a8a;
  --color-accent: #87eeab;

  --color-bg: #ffffff;
  --color-surface: #f8fafb;
  --color-muted: #f1f5f9;

  --color-text: #374151;
  --color-on-dark: #ffffff;
  --color-danger: #dc2626;
  --color-on-light: #d1fae5;

  --font-outfit: var(--font-outfit);
  --font-poppins: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
}
